*, *:before, *:after {
  box-sizing: inherit;
}

html body {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 220px;
  padding: 30px;
}

nav {
  background-color: #FFFFFF;
  height: 120px;
  width: 100%;
  border-bottom: solid black 3px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  right: 0px;
}

.main-nav {
  z-index: 150;
  list-style-type: none;
  position: fixed;
  margin-right: 150px;
  margin-top: 75px;
  padding: 0px 0;
}


.main-nav a {
font-weight: normal;
font-size: 35px;
color: gray;
text-decoration: none;
font-family: Raleway, sans-serif;
font-weight: 300px;
text-transform: uppercase;
  margin: 0 10px;
}

ul li {
  display: inline;
}

a:hover {
  color: red;
}

img#logo {
  display: block;
  height: 122px;
  width: 140px;
  float: left;
  margin-left: 820px;
}

.clearit {
  clear: both;
}

h1 {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  float: right;
  margin-right: 200px;
  padding: 0px 0 0 0;
}



div#name {
  display: block;
  margin-left: 90px;
  margin-right: 0px;
  height: 100px;
  text-align: center;
}

.slider{
  max-width: 940px;
  
}

slide-viewer {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.slide-group {
  width: 100%;
  height: 100%;
  position: fixed;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}

.slide-buttons {
  text-align: center;}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
  color: #ed8e6c;
  cursor: pointer;}

footer {
   position: fixed;
   bottom:0;
   left: 0px;
   width:100%;
   height:80px; 
   background:#ffffff;
   border-top: solid black 3px;
}

a img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 30px;
}

